.DecidePrefectureContainer {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.imageContainer {
  width: 80vw;
  height: 100%;
  max-width: 500px;
}

.image {
  width: 100%;
  height: 100%;
}

.buttonContainer {
  text-align: center;
  margin-bottom: 15px;
}

.eventContent {
  width: 80vw;
  max-width: 500px;
}